%% ex: ft=erlang 
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.

%% workaround for the rebar's bug
{pre_hooks,[{ct, "rm -f deps/*/cover.spec"}]}.

{deps, [
        {yokozuna, ".*",
         {git, "git://github.com/basho/yokozuna.git",
          {tag, "2.1.0"}}},
        {riak_kv, ".*",   
         {git, "https://github.com/basho/riak_kv.git",
          {tag, "2.1.0"}}}
       ]}.
